<h1>Listing Meals</h1>
<%= link_to 'New Meal Entry', new_meal_path %>
 
 <table>
  <tr>
    <th>&nbsp;&nbsp;Title</th>
    <th>&nbsp;&nbsp;Days</th>
    <th>&nbsp;&nbsp;Number of Ingrediants</th>
    <th>&nbsp;&nbsp;List of Ingrediants</th>
  
    
  </tr>
  
   <% @meals.each do |meal| %>
  
 
    <tr>
      <td>&nbsp;&nbsp;<%= meal.title %>
      <td>&nbsp;&nbsp;<%= meal.days %>
      <td>&nbsp;&nbsp;<%= meal.number_ingrediants %>
      <td>&nbsp;&nbsp;<%= meal.list_ingrediants %>
      <td> <%= render meal.comments %>
  
      		
  	

      

      

      

      
    <td><%= link_to 'Show', meal_path(meal) %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Destroy', meal_path(meal),
                    method: :delete, data: { confirm: 'Are you sure?'}
%>

  
	
  <% end %>
</table>