<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>
 
<p>
  <strong>Days:</strong>
  <%= @meal.days %>
</p>

<p>
	<strong>Number of Ingrediants:</strong>
	<%= @meal.number_ingrediants %>
</p>

<p>
  <strong>List of Ingrediants:</strong>
  <%= @meal.list_ingrediants %>
  
</p>

<h2>Comments</h2>
	<%= render @meal.comments %>
	</p>


<h2>Add a comment:</h2>
	<%= render "comments/form" %>



<%= link_to 'Back to Meals', meals_path %> |
<%= link_to 'Edit Post', edit_meal_path(@meal) %>
