<%- model_class = Meal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @meal.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:days) %>:</strong></dt>
  <dd><%= @meal.days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:list_ingrediants) %>:</strong></dt>
  <dd><%= @meal.list_ingrediants %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_ingrediants) %>:</strong></dt>
  <dd><%= @meal.number_ingrediants %></dd>
</dl>

<%- model_class = Comment -%>
<dl class="dl-horizontal">
	<dt><strong><%= model_class.human_attribute_name("comments") %>:</strong></dt>
	<br>
	<%= render @meal.comments %>
	<%= render :partial => 'comments/form' %>
</dl>




<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              meals_path, :class => 'btn'  %>
 
</div>
